name: Test Agent Helm Chart

on:
  push:
    branches: [main]
    tags:
      - '**'
    paths:
      - 'rust/helm/**'
  pull_request:
    paths:
      - 'rust/helm/**'
      - .github/workflows/rust-helm-test.yml

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install ct
        uses: helm/chart-testing-action@v2.4.0

      - name: Run lint
        run: ct lint --config .github/ct.yaml --all
